@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(40, 45, 52);
  color: rgb(202, 238, 255);
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
}

a:link {
  color: rgb(202, 238, 255);
}

a:visited {
  color: rgb(202, 238, 255);
}

.buttons {
  display: inline-grid;
  grid-column-gap: 50px;
  margin-top: 250px;
  width: 300px;
  height: 125px;
}

.file-input {
  display: none;
}

.upload {
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.upload-label {
  cursor: pointer;
}

.upload .tooltip {
  cursor: default;
  visibility: hidden;
  width: 120px;
  background-color: rgb(44, 50, 60);
  color: rgb(202, 238, 255);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.upload:hover .tooltip{
  cursor: default;
  visibility: visible;
}

.download {
  cursor: pointer;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.download .tooltip {
  cursor: default;
  visibility: hidden;
  width: 120px;
  background-color: rgb(44, 50, 60);
  color: rgb(202, 238, 255);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.download:hover .tooltip{
  cursor: default;
  visibility: visible;
}
